[Unit]
Description=Update Bing Wallpaper

[Service]
Type=forking
ExecStart=/home/kirkham/dotfiles/scripts/get_bing_image.sh

[Install]
WantedBy=bingwallpaper.timer
